@import "./partitial/layout";
@import "./partitial/variables";
@import "compass";
@import "susyone";
body, h1, h2, h3, header, div, p, ul, li, table {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: yaHei;
  src: url("../../1-06/css/font/msyh.ttf");
}
body {
  font-size: 16px;
  font-family: "Microsoft YaHei", yaHei;
  min-width: 1280px;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-down:before {
  content: "\e114";
}