$color1: #2189bf;
$color2: #ffffff;
$color3: #aaaaaa;
$color4: #2a2e3d;
$color5: #bababe;
$color6: #576477;
$color7: #e74f4d;
$color8: #383d4e;
$color9: #eeeded;
$color10: #ed7326;
$color11: #44b29e;
$color12: #388ac1;
$color13: #d04a36;
$color14: #e2cd46;
$color15: #f4f6f7;
$color16: #ededf0;
$color17: #3179aa;
$color18: #f4f5f6;
$color19: #dcdcdc;
$color20: #ed6e52;
$color21: #ef8150;
$color22: #f19e4f;
$color23: #7ecaf0;