$color1: #787b83;
$color2: #e74f4d;
$color3: rgba(0, 0, 0, .2);
$color4: #ffffff;
$color5: #ededec;
$color6: #867e7a;
$color7: rgba(170, 52, 51, .2);
$color8: #be4e48;
$color9: #e3e3e4;
$color10: #f7f7f7;
$color11: #000000;
$color12: #e74f4d;
$color13: rgba(0, 0, 0, .4);
$color14: #ededee;
$color15: #32353e;
$color16: #686166;
$color17: #2f3038;