@import "compass";
@import "partitial/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: $color1;
}

.planet {
  @extend %align-middle;
  width: 300px;
  height: 300px;
  background-color: $color2;
  border-radius: 50%;
}

@for $i from 1 through 3 {
  .hole-#{$i} {
    width: $i * 20px;
    height: $i * 20px;
    border-radius: 50%;
    background-color: $color3;
    position: relative;
    top: $i * 50px;
    left: $i * 50px + 10px;
  }
}

#svg {
  @extend %align-middle;
  position: absolute;
  width: $svg;
  height: $svg;
}